*{margin:0px;padding:0px;}
body{background:#f8f8f8;font-family: "LatoLatin", sans-serif; font-weight: normal; font-style: normal;}
.main-first{background:#fff;}
.order-list{padding: 15px;}
.order-list li{list-style:none;padding: 10px 20px;font-size: 15px;border-bottom: 1px solid #f5f5f5;}
.order-list li a{color:#5e5e5e;text-decoration:none;font-size:14px;}
.access-count{color:#b3b3b3;}
.order-list li:last-child{border-bottom: 0px solid #f5f5f5;}
.header{background: #33325a;}
.navbar{margin-bottom:10px!important;margin-top:15px!important;}
.navbar-default{background-color: transparent!important;border-color: transparent!important;}
.navbar-default .navbar-nav>li>a{font-size: 14px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.43;letter-spacing: 0;color: #ffffff!important;font-family: RubikMedium;}
.navbar-default .navbar-nav>li>a:hover .navbar-default .navbar-nav>li>a:focus{font-size: 14px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.43;letter-spacing: 0;color: #ffffff!important;font-family: RubikMedium;}
.navbar-brand{padding: 8px 16px}
.navbar-brand img{width:54%!important;}
.navbar-nav>li>a {
    padding-top: 15px!important;
    padding-bottom: 10px!important;
}
.footer{text-align:center;padding:30px 0px;color:#7e7e7e;font-size:13px;}
.footer-list{margin:50px 0px;}
.footer_link ul li{list-style:none;}
.footer_link a{padding:5px;display:block;text-align:left;font-family: RubikRegular;font-size: 12px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: normal;color: #5e5e5e;text-decoration:none;}
.footer_link a:hover{text-decoration:none;}
.footer_bottom_links ul li{list-style:none;}
.footer_bottom_links ul li a{float:left;padding:10px;display:inline-block;font-family: RubikMedium;font-size: 12px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: normal;color: #292c32;text-decoration:none;}
.footer_bottom_links ul li a:hover{text-decoration:none;}
.right-footer-text p{text-align:left;font-family: RubikRegular;font-size: 18px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.33;letter-spacing: normal;color: #5e5e5e;}
.notify_div p{text-align:left;font-family: RubikRegular;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.43;letter-spacing: normal;color: #5e5e5e;padding-top:20px;}
.footer-text{margin: 20px 0px;}
.footer-lower-text{margin:10px 0px;}
.footer-lower-text p{font-family: RubikRegular;font-size: 12px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.83;letter-spacing: normal;text-align: left;color: #a1a1a1;}
.footer-lower-text-new{margin-top:80px;}
.footer-lower-text-new p{font-family: RubikRegular;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.83;letter-spacing: normal;text-align: left;color: #a1a1a1;}
.footer-text p{line-height: 25px;opacity: 0.7;font-family: RubikRegular;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;letter-spacing: normal;color: #5e5e5e;}
.footer_social_icon { margin-left:-29px;}
.footer_social_icon ul li{list-style:none;float:left;}
.footer_social_icon ul li a{text-decoration:none;color: #57a3f9;padding:10px;font-size:20px;}
.footer_social_icon ul li a:hover{text-decoration:none;color: #57a3f9;}
.social_icons{text-align:center;margin: 10px 0px;}
.subscription_div p{font-family: RubikRegular;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.43;letter-spacing: normal;color: #292c32;padding:10px 0px;}


.small-slide img{width:100%;padding-left:20px;padding-bottom:10px;}
.previous-section img{padding: 20px;}
.inner-thumnbail{color:#fff;font-size: 14px;font-weight: 500;font-family: RubikRegular;}
.inner-thumnbail img{align-self: center; max-height: 34px;border-radius: 100%;padding: 0px 12px;display:inline-block;}
.date{color:#fff;padding:0px 13px;font-size: 14px;font-weight: 500;font-family: RubikRegular;opacity: 0.6;}
.first-middle-section{padding: 74px 20px;}
.first-middle-section-content {
	margin-top: 234px;
	height:200px;
}
.category_btn { height: 34px;}
.product_middle_title { height:150px;}

.camera_title{margin:10px;}
.camera_title a{color: #fff;font-weight: 500;line-height: 1.22;font-size: 36px;font-style: normal;font-stretch: normal;letter-spacing: -1px;font-family: RubikMedium;cursor:pointer;text-decoration:none;}
.camera_title a:hover{color: #fff;font-weight: normal;line-height: 1.22;font-size: 36px;font-style: normal;font-stretch: normal;letter-spacing: -1px;font-family: RubikMedium;cursor:pointer;text-decoration:none;}

.inner-thumnbail-new{color:#fff;font-size: 16px;font-weight: 500;font-family: RubikRegular;}
.inner-thumnbail-new img{align-self: center; max-height: 32px;border-radius: 100%;display:inline-block; height:32px !important; width:32px !important; margin-left:11px;}
.author_name{ width: 97px;
	height: 19px;
	font-family: RubikRegular;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	margin-left:9px;
}
.date-new{color:#fff;padding:0px 13px;font-size: 12px;font-weight: 500;font-family: RubikRegular;opacity: 0.6;}
.second-middle-section{padding:62px 20px;display:inline-block;}
.third-middle-section{padding:80px 20px;display:inline-block;}
.camera_title_new{margin:10px;}
.camera_title_new a{color: #fff;font-weight: normal;line-height: 1.25;font-size: 24px;font-weight: normal;font-style: normal;font-stretch: normal;letter-spacing: -1px;font-family: RubikMedium;text-decoration:none;}

.camera_title_new a:hover{color: #fff;font-weight: normal;line-height: 1.25;font-size: 24px;font-weight: normal;font-style: normal;font-stretch: normal;letter-spacing: -1px;font-family: RubikMedium;text-decoration:none;}

.category_title{margin-top: 50px;}
.category_title h4{font-family: RubikMedium;font-size: 36px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.22;letter-spacing: normal;color: #292c32;}
.item-panel{width:344px; background:#fff;margin:43px 0px;border-radius: 4px;box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.05);background-color: #ffffff;}
.footer{margin-top:50px;}

.search-bar{margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;margin-top:24px;}
.has-search{margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;}
.has-search .form-control-feedback {
    right: initial;
    left: 351px;
    color: #ccc;
    top: 4px;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 40px;
}
.region_selector{ 
	margin-top: 10px;
    margin-left: 81%;
}
.input-searchbox{width: 40%!important;margin-left: auto!important;margin-right: auto!important;display: block!important;border-radius: 20px!important;font-size:13px!important;}
.main_item_panel_detail{padding: 20px;}
.main_item_panel_detail li{list-style:none;padding:15px 0px;}
.main_item_panel_detail li:last-child{border-bottom: 0px;}
.main_item_link{text-decoration:none;cursor:pointer;font-family: RubikMedium;font-size: 12px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.5;letter-spacing: normal;color: #292c32;}
.main_item_link:hover{text-decoration:none;color:#57a3f9;}
.custome_category_image{padding:5px;}
.mobile-view-image{width:100%;}

.other_products_main{margin-top: 30px;}
.other_products_main h4{text-align:center;font-family: RubikBold;font-size: 17px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: -0.1px;color: #292c31;padding:40px 0px;}
.other_products_main img{width:100%;}
.other_products_detail{margin-bottom:20px;}
.other_products_detail a{padding:10px;display:inline-block;}
.other_products_detail a:hover{box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.05);background-color: #ffffff;display:inline-block;padding:10px;}
.other_products_detail_title{font-family: RubikRegular;font-size: 12px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.5;letter-spacing: normal;color: #292c32;}
.other_products_detail a:hover .other_products_detail_title{color:#57a3f9;}
.stay_block{border-radius: 12px;box-shadow: 0 8px 8px 0 rgba(41, 44, 50, 0.2);background-image: linear-gradient(63deg, #342e54, #054a91);background-color: #054a91;padding: 20px 40px;
 position: relative;top:100px;}
.stay_block h5{font-family: RubikMedium;font-size: 18px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.67;letter-spacing: normal;color: #ffffff;}
.stay_block p{font-family: RubikRegular;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.43;letter-spacing: normal;color: #ffffff;padding-bottom:10px;}
.stay_block_new{border-radius: 12px;box-shadow: 0 8px 8px 0 rgba(41, 44, 50, 0.2);background-image: linear-gradient(299deg, #473b7b, #3584a7 51%, #30d2be);padding: 20px 40px;
 position: relative;top:100px;background-color:#3589a9;}
.stay_block_new h5{font-family: RubikMedium;font-size: 18px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.67;letter-spacing: normal;color: #ffffff;}
.stay_block_new p{font-family: RubikRegular;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.43;letter-spacing: normal;color: #ffffff;padding-bottom:10px;}
.custome-email{  opacity: 0.5;font-family: RubikRegular;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.29;letter-spacing: normal;color: #ffffff;}
.custome-div{padding-left:0px;}
.sub_button{border-radius: 2px;background-color: #57a3f9; font-family: RubikMedium;font-size: 14px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.29;letter-spacing: normal;text-align: center;color: #ffffff;}
.sub_button:hover{color: #ffffff;}
.custome-form-group{padding-bottom:40px;}

.review_block_new{border-radius:0px 0px 12px 12px;box-shadow: 0 8px 8px 0 rgba(41, 44, 50, 0.2);background-image: linear-gradient(299deg, #473b7b, #3584a7 51%, #30d2be);padding: 20px 40px;
 }
.review_block_new h5{font-family: RubikMedium;font-size: 18px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.67;letter-spacing: normal;color: #ffffff;}
.review_block_new p{font-family: RubikRegular;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.43;letter-spacing: normal;color: #ffffff;padding-bottom:10px;}
.custome-email{font-family: RubikRegular;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.29;letter-spacing: normal;color: #ffffff;}
.custome-div{padding-left:0px;}
.sub_button{border-radius: 2px;background-color: #57a3f9; font-family: RubikMedium;font-size: 14px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.29;letter-spacing: normal;text-align: center;color: #ffffff;}
.sub_button:hover{color: #ffffff;}
.custome-form-group{padding-bottom:20px;}
.custome-input{opacity:0.5}


.related_category_new{background-color: #57a3f9;}
.related_category_new_title p{opacity: 0.6;font-family: RubikRegular;font-size: 12px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.58;letter-spacing: normal;text-align: center;color: #ffffff;margin-top: 100px;padding: 50px 0px;}
.remark_image_winner { height: 96px; } 
.remark_image_winner img{text-align:center;width: 100%!important;position: relative;top: 11px;left: -61px;}
.remarkwinner{width: 80px;height: 96px;border-radius: 4px;box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.02), inset 0 -3px 0 0 #57a3f9;border: solid 1px #ebebeb;background-color: #ffffff; margin-left: -73px;text-align:center}
.remarkwinner-content{ margin-top:23px;}
.remarkwinner-content p{font-family: RubikRegular;
font-size: 12px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.44;letter-spacing: normal;color: #5e5e5e;padding-top: 10px;padding-left:0px;padding-right:0px;padding-bottom:0px;}
.remarkwinner-footer{margin-top:14px;}
.remarkwinner-footer p{margin: 0px;background: #f6cf24;font-size: 12px;font-weight: 500;padding: 5px 0px;border-radius: 0px 0px 4px 4px;font-family: RubikMedium;text-transform: uppercase;}
.remark_image_first { height: 96px; }
.remark_image_first img{}
.remarkfirst{width: 80px;height: 80px;border-radius: 4px;box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.02), inset 0 -3px 0 0 #57a3f9;border: solid 1px #ebebeb;background-color: #ffffff; margin-left: -73px;text-align:center}
.remarkfirst-content{}
.remarkfirst-content p{font-family: RubikRegular;
font-size: 12px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.44;letter-spacing: normal;color: #5e5e5e;padding-top: 10px;padding-left:0px;padding-right:0px;padding-bottom:0px;}
.remarkfirst-footer{}
.remarkfirst-footer p{margin: 0px;background: #63ccac;font-size: 12px;font-weight: 500;padding: 5px 0px;border-radius: 0px 0px 4px 4px;font-family: RubikMedium;text-transform: uppercase;color:#fff;}
.remark_image_second  { height: 96px; }
.remark_image_second img{}
.remarksecond{width: 80px;height: 96px;border-radius: 4px;box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.02), inset 0 -3px 0 0 #57a3f9;border: solid 1px #ebebeb;background-color: #ffffff; margin-left: -73px;text-align:center}
.remarksecond-content{}
.remarksecond-content p{font-family: RubikRegular;
font-size: 12px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.44;letter-spacing: normal;color: #5e5e5e;padding-top: 10px;padding-left:0px;padding-right:0px;padding-bottom:0px;}
.remarksecond-footer{}
.remarksecond-footer p{margin: 0px;font-size: 12px;font-weight: 500;padding: 5px 0px;border-radius: 0px 0px 4px 4px;font-family: RubikMedium;text-transform: uppercase;color:#fff;}
.custome-fluid-container{background-image: url(images/big_star_logo.png);background-repeat: no-repeat;background-size: 305px;background-position: left 0px top 0px;height:300px;}
.related_category{background-color: #57a3f9;height: 120px;}
.related_category h4{text-align:center;font-family: RubikBold;font-size: 17px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: -0.1px;color: #fff;}
.related_category_item{border-radius: 4px;box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.02);background-color: #ffffff;padding: 20px;margin-top:40px;}
.related_category_item a{text-decoration:none;}
.related_category_item a:hover{text-decoration:none;}
.related_category_image{padding:20px;}
.related_category_image img{width:100%;padding:20px;}
.related_category_title p{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 17px;font-weight: 600;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: -0.1px;text-align: center;color: #57a3f9;}

.related_category_item_main{border-radius: 4px;box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.02);background-color: #ffffff;padding: 20px;margin-top:40px;margin-bottom:50px;}
.related_category_item_main a{text-decoration:none;}
.related_category_item_main a:hover{text-decoration:none;}
.related_category_image_main{padding:20px;}
.related_category_image_main img{width:100%;padding:20px;}
.related_category_title_main p{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 17px;font-weight: 600;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: -0.1px;text-align: center;color: #57a3f9;}
.best_views_middle_content{background-image: linear-gradient(71deg, #342e54, #054a91);background-color: #054a91;height:350px;margin-top:30px;}
.logo_image{margin-top: 60px;margin-bottom: 30px;text-align:center;}
.logo_image_content{margin-bottom:40px;}
.logo_image_content h4{font-family: RubikMedium;font-size: 24px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.67;letter-spacing: normal;text-align: center;color: #ffffff;}
.middle_first_image{background:url('images/middle-image.jpg');background-position: center;background-size: cover;background-repeat: no-repeat;height:500px;width: 100%;margin-bottom:20px;position: relative;top: 33px;}
.middle_second_image{background:url('images/middle-image-2.jpg');background-position: center;background-size: cover;background-repeat: no-repeat;height: 235px;width: 100%;margin-bottom:27px;position: relative;top: 33px;}
.middle_third_image{background:url('images/middle-image-2.jpg');background-position: center;background-size: cover;background-repeat: no-repeat;height: 235px;width: 100%;margin-bottom:20px;position: relative;top: 33px;}

.first_image{height:550px;width: 100%;margin-bottom:10px;position: relative;top: -50px;}
.second_image{width: 100%;margin-bottom: 27px;position: relative;top: -50px;height:260px;}
.third_image{width: 100%;margin-bottom:10px;position: relative;top: -48px;height: 260px;}

/* .item_panel_thumbnail img{width:359px;height:160px;position:relative;display:block; } */
.item_panel_thumbnail {
	width: 344px;
	height: 167px;
	margin-left: 15px;
	/* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000); */
	background-repeat: no-repeat;
  }
.subscribe_email {
	width: 98% !important;
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
	border: none;
  }
  .item_panel_thumbnail_caption{ text-align: center; margin-top:105px;}
.item_panel_thumbnail_caption a{
	width: 176px;
    height: 30px;
    font-family: RubikMedium;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
}
.item_panel_thumbnail_caption a:hover{text-decoration:none;color: #ffffff;}

.display_all_product{padding:12px;background:#57a3f9;}
.display_all_product a{margin:0px;text-align:center;display:block;text-decoration: none;cursor: pointer;font-family: RubikMedium;font-size: 13px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.5;letter-spacing: normal;color: #fff;}
.display_all_product a:hover{text-decoration:none;}

/* smart phones css */
@media screen and (min-width:320px) and (max-width:600px){
	.related_category_item_main{margin-bottom:10px;margin-top:10px;}
	.best_views_middle_content{height:auto;}
	.stay_block{top:25px}
	.stay_block_new{top:53px;}
	.date{padding:0px 10px;}
	.date-new{padding:0px 10px;}
	.input-searchbox{width: 90%!important;margin-left: auto!important;margin-right: auto!important;display: block!important;border-radius: 20px!important;font-size:13px!important;}
	.has-search .form-control-feedback {
		right: initial;
		left: 7px;
		color: #ccc;
		top: 4px;
		}
	.first-middle-section-content { margin-top:218px; }	
	.product_date { margin-top:85px;}
	.inner-thumnbail{padding: 0px;display:inline-block;}
	.winner_image img{width:50%;}
	.score_image{margin-bottom: 30px;} 
	.score_image img{width:50%;}
	.small-slide img{padding:10px;width:20%;}
	.big_thumbnail img{padding:10px;}
	.up img{width:15%;}
	.navbar-brand{float:none!important;}
	.navbar { margin-bottom: 0px!important;}
	.navbar-toggle {margin-top: 30px;}
	.navbar-nav>li>a {padding-top: 10px!important; padding-bottom: 10px!important;}
	.item_panel_thumbnail img{ width:343px;}
	.item_panel_thumbnail_caption  {
		font-family: Rubik;
		font-size: 24px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: normal;
		color: #ffffff;
		
	  }
	.item_panel_thumbnail_caption a{text-align:center; top:100px; position: absolute;left: 83px;font-family: RubikMedium;font-size: 24px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.25;letter-spacing: normal;color: #ffffff;text-decoration:none;}
	.item_panel_thumbnail_caption a:hover{text-decoration:none;color: #ffffff;}
	.first-middle-section{padding: 40px 20px;display:inline-block;}
	.camera_title{line-height: 40px;font-size: 30px;}
	.second-middle-section{padding:20px;}
	.camera_title_new{line-height: 28px;font-size: 21px;}
	
	.item-panel h5{font-size: 15px;font-weight: bold;padding-top: 40px;padding-left: 35px;padding-right: 35px;}
	.footer{margin-top:30px;}
	.category_title {margin-top: 40px;}
	.footer_link{margin:5px 0px;}
	.footer_social_icon{margin-top:10px;}
	.first_image{height:auto}
	.second_image{height:auto}
	.third_image{height:auto}
	.middle_first_image{height:auto}
	.middle_second_image{height:auto}
	.middle_third_image{height:auto}
	.related_category_new_title p{margin-top:0px;}
	.footer_info{
		width: 332px !important;
		text-align: left !important;
		padding: 6px;
	}
	.footer_social_icon {
		margin-left: -12px;
	}
	.region_selector{ margin-left: -73px;}
	
}

/* Pixel 2 css*/
@media screen and (min-width:411px) and (max-width:731px) and (orientation : portrait){}

/* Pixel 2 css*/
@media screen and (min-width:411px) and (max-width:731px) and (orientation : landscape){}


/* ipad css */
@media screen and (min-width:768px) and (max-width:1024px) and (orientation : portrait){
	.navbar-brand{height:0px;padding:0px 16px;}
	.input-searchbox{width:50%;}
	.has-search .form-control-feedback{left: 188px;}
	.category_title {margin-top: 40px;}
	.footer{margin-top:50px;}
	.footer_list{margin:0px;}
	.footer_link{margin:5px 0px;}
	.stay_block{top: 30px;}
	.stay_block_new{top: 60px;}
	.main_item_link{font-size:16px;}
	.item_panel_thumbnail_caption{font-size: 28px;}
	.related_category_item_main{margin-bottom:20px;margin-top:10px;}
	.footer_info {  width: 332px; }
	.footer_social_icon {
		margin-left: -7px;
		margin-top: 8px;
	}
}



/* ipad css */
@media screen and (min-width:768px) and (max-width:1024px) and (orientation : landscape){
	.navbar-brand{height:0px;padding:0px 16px;}
	.input-searchbox{width:50%;}
	.has-search .form-control-feedback{left: 241px;}
	.footer{margin-top:50px;}
	.stay_block{top: 100px;}
	.item_panel_thumbnail_caption{font-size:20px;margin:0px 40px;}
	
}

/* ipad pro css */
@media screen and (min-width:1024px) and (max-width:1366px) and (orientation : portrait){
.has-search .form-control-feedback{left: 240px;}
.category_title { margin-top: 0px;}
.stay_block{top: 100px;}
.stay_block_new{top: 100px;}

}

/* ipad pro css */
@media screen and (min-width:1024px) and (max-width:1366px) and (orientation : landscape){


}

/* Large Desktops css */
@media screen and (min-width:1025px) and (max-width:1281px){}


/* specific smart phones genric Portrait css*/
@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation : portrait) {
.input-searchbox{width: 90%!important;}
.has-search .form-control-feedback{left:23px;}
.header{background-image:none!important;background-position: center;background-size: cover;background-repeat: no-repeat;height: auto!important;width: 100%;background:-color:#33325a}
.search-bar{margin-bottom:70px;}
.navbar-brand{height:0px;}
.footer_link{margin:5px 0px;}
.footer_social_icon{margin-top:10px;}


}

/* specific smart phones genric landscape css*/
@media screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) {
.input-searchbox{width: 90%!important;}
.has-search .form-control-feedback{left:40px;}
.header{background-image:none!important;background-position: center;background-size: cover;background-repeat: no-repeat;height: auto!important;width: 100%;background:-color:#33325a}
.search-bar{margin-bottom:70px;}
.navbar-brand{height:0px;padding:0px;}
.category_title {margin-top: 50px;}
.footer_link{margin:0px 0px;}
.footer_social_icon{margin-top:10px;}
.main_item_link{font-size: 18px;}
.stay_block{top: 30px;}
.stay_block_new{top: 60px;}
.first_image{height:auto}
.second_image{height:auto}
.third_image{height:auto}
.middle_first_image{height:auto}
.middle_second_image{height:auto}
.middle_third_image{height:auto}
.related_category_item_main{margin-bottom:20px;margin-top:10px;}
.footer_social_icon {  margin-left: -8px;}

}


/* safari browser css*/
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
    .footer-list{margin-top: 200px;margin-bottom:50px;}
	.best_views_middle_content{background-image: linear-gradient(71deg, #342e54, #054a91);background-color: #054a91;}
	.stay_block{background-image: linear-gradient(63deg, #342e54, #054a91);background-color:#183f79;}
	.stay_block_new{background-image: linear-gradient(299deg, #473b7b, #3584a7 51%, #30d2be);background-color:#3589a9;}
}}

.home_product_image > a > img { width:56px; height:56px;}

.product_row::after{
	width: 344px;
	height: 440px;
	border-radius: 4px;
	box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
  }
  .divier {
	opacity: 0.3;
    border-top: 1px solid #d8d8d8;
    margin-left: 81px;
  }
  .divier_end {
	opacity: 0.3;
    border-top: none;
    margin-left: 81px;
  }
  .footer_info{
	width:649px;  
  }


.countryChosen{
	position: absolute;
	display: inline-block;
    top: 9px;
	right: -90px;
	
}
.randomImg{
    height: 112px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
